@tailwind base;
@tailwind components;
@tailwind utilities;
*,html,body{
  padding: 0;
  margin: 0;
}
/* body{
  background-color: black;
} */

#root{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.plant{
  background-image: url("/plant.png");
  background-repeat: no-repeat;
}
.ran{
  background-image: url("/ran.png");
  background-repeat: no-repeat;
  /* background-position-x: -90%; */
}
::-webkit-scrollbar{
  display: none;
}